@import './bootstrap';
@import './navbar';

body > .container {
  min-height: 60vh;
}

.login {
  .about {
    margin: 10vh 10vw;
  }
  .big {
    font-size: 2rem;
  }
  & .btn {
    font-size: 3rem;
  }
}

.about {
  padding: 5em 0;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.navbar-brand {
  .lichess-logo-white {
    opacity: 0.8;
    max-height: 30px;
  }
}

.bd-footer {
  a {
    color: var(--bs-body-color);
    text-decoration: none;
  }
  .lichess-logo-white {
    max-height: 30px;
    opacity: 0.8;
  }
}

.input-copy {
  cursor: pointer;
}

.lichess-id {
  font-family: var(--bs-font-monospace) !important;
}
